.role-select {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--background-primary);
    padding: 2vw;
    width: 20vw;
    box-sizing: border-box;
}

.role-select form {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.role-select label {
    display: flex;
    gap: 0.5rem;
}

.role-select.hide {
    display: none;
}

.data, .userRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.data {
    height: 45vh;
    justify-content: flex-start;
    overflow-y: scroll;
}

.userRow {
    padding: 15px;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 4fr 3fr 2fr 2fr;
    background: var(--background-secondary);
    border-radius: 15px;
    margin-bottom: 2vh;
    min-height: 5vh;
}

.userRow div {
    display: flex;
    justify-content: center;
    padding: 0 15%;
    border-right: 1px solid black;
}

.userRow button {
    justify-self: center;
    padding: 5%;
    width: 70%;
}

.userRow div:first-child {
    border-left: 1px solid black;
}

.pagination {
    display: flex;
    width: 90%;
}