.professions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    width: 100%;
}

.professionData {
    grid-column: 1 / 3;
}

.role-select,
.profession-edit{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--background-primary);
    padding: 2vw;
    width: 20vw;
    box-sizing: border-box;
}

.role-select form,
.profession-edit form {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.profession-edit label,
.role-select label {
    display: flex;
    gap: 0.5rem;
}

.profession-edit input,
.profession-edit textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem;
}

.profession-edit textarea {
    min-height: 10vh;
}

.role-select.hide,
.profession-edit.hide {
    display: none;
}

.userData, .userRow,
.professionData, .professionRow,
.testData, .testRow,
.recentTestData, .recentTestRow,
.completedTestData, .completedTestRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.userData, .professionData, .testData, .recentTestData, .completedTestData {
    justify-content: flex-start;
    overflow-y: scroll;
}

.userRow, .professionRow, .testRow, .recentTestRow, .completedTestRow {
    padding: 15px;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 4fr 3fr 2fr 2fr;
    background: var(--background-secondary);
    border-radius: 15px;
    margin-bottom: 2vh;
    min-height: 5vh;
}

.professionRow {
    grid-template-columns: 1fr 2fr 3fr 3fr 1fr 1fr;
}

.testRow {
    grid-template-columns: 1fr 3fr 3fr 1.5fr 1.5fr;
}

.recentTestRow {
    grid-template-columns: 1fr 1.5fr 1.25fr 1fr 1.5fr 1fr 1fr;
}

.completedTestRow {
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
}

.userRow div,
.professionRow div,
.professionRow a,
.testRow div,
.recentTestRow div ,
.recentTestRow a,
.completedTestRow div ,
.completedTestRow a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    border-right: 1px solid black;
    text-decoration: none;
    color: black;
}

.professionRow .text,
.testRow .text,
.completedTestRow .text{
    justify-content: flex-start;
    text-overflow: ellipsis;
}

.userRow button,
.professionRow button {
    justify-self: center;
    padding: 5%;
    width: 70%;
}

.userRow div:first-child,
.professionRow div:first-child,
.testRow div:first-child,
.recentTestRow div:first-child,
.completedTestRow div:first-child {
    border-left: 1px solid black;
}

.pagination,
.new-profession {
    margin-top: auto;
    margin-left: 2vw;
    margin-bottom: 1vw;
    display: flex;
    width: 90%;
}

.new-profession {
    justify-self: flex-end;
    width: auto;
    margin-right: 2vw;
}

.new-profession a {
    text-decoration: none;
    padding: 0.5vw 1vw;
    color: black;
    background-color: var(--background-primary);
    border-radius: 10px;
    transition: background-color 0.3s;
    font-size: 14px;
}

.new-profession a:hover {
    background-color: var(--background-secondary);
}